/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/Gemfile.lock
/pkg/
/spec/reports/
tmp/
*.log
node_modules/
yarn.lock
package-lock.json

# Database files
*.sqlite3
*.sqlite3-*

# rspec failure tracking
.rspec_status
.rspec_failures