// ActiveAdmin 1.x (activeadmin-rails gem) requires variables to be imported first
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin/slimselect/slimselect";
@import "activeadmin/slimselect_input";
